/* Виджет назначает height: 100% , что может привести к непредксказуемому результату, если вы этого не планировали */

html {
	height: auto !important;
}

/* Фиксируем позицию body, которую меняет панель гугла */

body {
	top: 0 !important;
	position: static !important;
}

/* Прячем панель гугла */

.skiptranslate {
	display: none !important;
}

/* Убираем подсветку ссылок и текста при наведении */

.goog-text-highlight,
font > font {
	background-color: transparent !important;
	box-shadow: none !important;
	box-sizing: inherit;
}

/* language */

.language {
	position: fixed;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 999;
	display: flex;
	flex-direction: column;
}

.language__img {
	margin: 2px;
	cursor: pointer;
	opacity: 0.5;
}

.language__img:hover,
.language__img_active {
	opacity: 1;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd,
.VIpgJd-ZVi9od-l4eHX-hSRGPd,
.VIpgJd-yAWNEb-L7lbkb,
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf-ti6hGc {
    display: none !important;
}


/* Dropdown button */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: #4479ec;
    color: white;
    border: none;
    padding: 12px;
    font-size: 12px;
    cursor: pointer;
    white-space: nowrap;
}

/* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    max-height: 300px; /* Adjust height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    padding: 5px;
	color: black;
}

.dropdown-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.dropdown-item img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.language-name {
    font-size: 12px;
	color: black;
}

.dropdown-item:hover .language-name {
    display: inline;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-button {
    background-color: #3e8e41;
}

